<div class="row">
    <div class="col-6">
        <div class="mb-3">
            <label for="" class="form-control">Numero1</label>
            <input type="text" class="form-control" [(ngModel)]="num1" name="num1" placeholder="Numero 1">
        </div>
        <div class="mb-3">
            <label for="" class="form-control">Numero2</label>
            <input type="text" class="form-control" [(ngModel)]="num2" name="num1" placeholder="Numero 2">
        </div>
        <div class="mb-3">
            <button (click)="sumar()" class="btn btn-primary">Calcular</button>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <label for="" class="form-control">Numero</label>
                    <input type="text" class="form-control" [(ngModel)]="num" name="num" placeholder="Numero ">
                </div>
        
                    <button (click)="tabla()" class="btn btn-primary">Mostrar</button>
                </div>
            </div>
        

    </div>


<!--
    <div class="col-6">
    <h2>Resultado: {{resultado}} </h2>
</div>
-->


<div class="col-6">
    <h2>Tablas: </h2>
    <h2 *ngFor="let resultado of texto">{{resultado}} </h2>
</div>